/roads.geojson
/industrial_landuse.geojson
/power_plants.geojson
/road_lengths_raw.csv
/road_lengths_extraction_summary.csv
/industrial_area_raw.csv
/industrial_area_extraction_summary.csv
/powerplant_distances_raw.csv
/powerplant_distances_extraction_summary.csv
